@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**for the dialog**/
  .uppertable {
    border: 0px solid #dddddd;
    text-align: left; padding: 8px;
    vertical-align:top;
    width: 0%;
  }

  .lowertable {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow-wrap: break-word;
  width: 100%;
  }

}
/**this is for the korean text to be inorder**/
.korean {

    line-break: strict;
    word-break: keep-all;
}

.uppertable {
    border: 0px solid #dddddd;
    text-align: left; padding: 8px;
    vertical-align:top;
    width: 0%;
  }

  .lowertable {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow-wrap: break-word;
  width: 100%;
  }
